@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  margin: 0;
  line-height: 1.5;
}

body,
input,
textarea,
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

/* Header */
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header .brand-name {
  padding: 0 15px;
}

.header .brand-name a {
  text-decoration: none;
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;

}

.header .nav-toggle {
  width: 40px;
  height: 34px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  display: none;
}

.header.fixed .nav-toggle {
  border-color: #000000;
}

.header .nav-toggle span {
  height: 1px;
  display: block;
  width: 16px;
  background-color: #ffffff;
  position: relative;
  transition: all 0.5s ease;
}

.header .nav-toggle span:before,
.header .nav-toggle span:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  transition: all 0.5s ease;
}

.header.fixed .nav-toggle span,
.header.fixed .nav-toggle span:before,
.header.fixed .nav-toggle span:after {
  background-color: #000000;
}

.header .nav-toggle span:before {
  transform: translateY(-6px);
}

.header .nav-toggle span:after {
  transform: translateY(6px);
}

.header .nav {
  padding: 0 15px;
}

.header .nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .nav ul li {
  display: inline-block;
  margin-left: 30px;
}

.header .nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 25px 0;
  display: block;
  transition: all 0.5s ease;
}

.header .nav ul li a:hover {
  color: #6d6d6d;
}

/* Home Section */

.home-section {
  min-height: 100vh;
  background-image: url('images/baggrund.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.home-section:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.home-section .row {
  min-height: 100vh;
}

.home-section .home-content {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.home-section .home-content h3 {
  font-size: 20px;
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-section .home-content h1 {
  font-size: 50px;
  margin: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 6px;
}

/* Events Section */

.section-title {
  text-transform: uppercase;
  padding: 0 15px;
  margin-bottom: 20px;
  z-index: 1;
}

.events-section {
  padding: 80px 0 80px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.events-section:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
  z-index: -1;
}

.events-section .event-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 0 15px; 
  margin-bottom: 30px;
}

.events-section .event-item-inner {
  position: relative;
  overflow: hidden;
}

.events-section .event-item-inner img {
  width: 100%;
  display: block;
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

.events-section .event-item-inner:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}

.events-section .event-item-inner .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.events-section .event-item-inner:hover .overlay {
  background-color: transparent;
}

.events-section .event-item-inner .overlay h4 {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
  text-align: center;
  transition: all 0.5s ease;
  text-transform: capitalize;
}

.events-section .event-item-inner .overlay:hover h4 {
  transform: translateX(20px);
  opacity: 0;
}

/* Contact Section */

.btn {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: #6d6d6d;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
}

.contact-section {
  padding: 80px 0 80px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.contact-section:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
  z-index: -1;
}

.contact-section {
  padding: 50px 0 80px;
}

.contact-section .contact-img {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.contact-section .contact-img .img-box {
  padding: 200px 0;
  background-image: url(/images/contact.jpg);
  background-size: cover;
  background-position: center;
}

.contact-section .section-title {
  text-align: center;
}

.contact-section .section-title h1 {
  color: #ffffff;
}

.contact-section .section-title h1:before {
  background-color: #ffffff;
  left: 50%;
  margin-left: -40px;
}

.contact-section .contact-form {
  flex: 0 0 100%; 
  max-width: 100%;
  padding: 0px 65px;
}

.contact-section .contact-form .form {
  background-color: #f2f2f2;
  padding: 55px 40px;
  margin-top: -150px;
}

.contact-section .contact-form .form label {
  color: #000000;
  font-weight: 500;
  display: block;
  margin: 0 0 5px;
}

.contact-section .contact-form .form .input-group {
  text-align: center;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 20px;
  margin-bottom: 30px;
}

.contact-section .contact-form .form .input-group.left,
.contact-section .contact-form .form .input-group.right {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-section .contact-form .form .input-control {
  text-align: center;
  width: 100%;
  height: 45px;
  padding: 6px 0px;
  color: #000000;
  font-size: 13px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #cccccc;
}

.contact-section .contact-form .form .input-control:focus {
  outline: none;
}

.contact-section .contact-form .form textarea.input-control {
  height: 70px;
  resize: none;
  padding-top: 12px;
}

.contact-section .contact-form .form .form-btn {
  text-align: center;
}

.contact-section .contact-info {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 25px;
}

.contact-section .contact-info .info-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  text-align: center;
  padding: 0 15px;
  margin-bottom: 40px;
}

.contact-section .contact-info .info-item h5 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.contact-section .contact-info .info-item p {
  font-size: 16px;
  margin: 0;
  color: #555555;
}

.contact-section .social-links {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
}

.contact-section .social-links a {
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
}

.contact-section .social-links a img {
  width: 28px;
  display: block;
  transition: all 0.5s ease;
}

.contact-section .social-links a:hover img {
  opacity: 0.5;
}

/* Copyright */

.copyright {
  padding: 25px 15px;
  text-align: center;
  color: #555555;
  font-size: 16px;
}

.copyright {
  position: relative;
  z-index: 1;
}

.copyright:before {
  content: '';
  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.2;
  z-index: -1;
}

/* Media Queries */

@media(min-width: 768px){
  .header .nav{
      display: block!important;
  }
}
@media(max-width: 767px){
  .header{
      padding:7px 0;
      position: fixed;
  }
  .header .nav-toggle{
      display: flex;
      margin-right: 15px;
  }
  .header .nav{
      flex:0 0 100%;
      max-width: 100%;
      background-color: #ffffff;
      padding:0;
      display: none;
  }
  .header.fixed .nav{
    border-top:1px solid #cccccc;
  }
  .header .nav ul li{
      display: block;
      margin-right: 25px;
  }
  .header.fixed .nav ul li a,
  .header .nav ul li a{
      color:#000000;
      padding: 15px 0;
  }
  .home-section .home-content h1{
      font-size: 40px;
  }

  .events-section .event-item{
      flex: 0 0 50%;
  max-width: 50%;
  }
}

@media(max-width: 575px){
.home-section .home-content h1{
      font-size: 25px;
      letter-spacing: 5px;
  }
  .about-section .about-content .stats .stat-box {
    flex: 0 0 50%;
    max-width: 50%;
 }
 .contact-section .contact-info .info-item,
 .contact-section .contact-form .form .input-group.left, 
 .contact-section .contact-form .form .input-group.right,
 .work-section .work-item,
 .events-section .event-item{
      flex: 0 0 100%;
      max-width: 100%;
  }
  .contact-section .contact-form{
      padding: 0px 35px;
  }
  .contact-section .contact-form .form{
      padding: 55px 5px;
  }
}